body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    animation: animate 7s linear infinite ;
}

body {
    background-image: url('assets/_1e75fe4a-a5b7-40bf-a592-b9e21b699b27.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.img-size {
    height: 3em;
    width: 3em;
}

#wizard {
    position: absolute;
    top: 50px;
    left: 50px;
    object-fit: cover;
    width: 15em; 
    height: 15em; 
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    overflow: hidden; 
}


.font-text{
    font-family: 'IM Fell English SC', serif;
    font-size: 3em;
    margin: 0;
    padding-bottom: 0.3em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 10);
}

h2{
    font-size: 1.7em;
    color: white; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
    position: relative;
    z-index: 1; 
    color: white; 
    font-size: 3em;
    padding: 2em;
}

.board-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
}

.row {
    display: flex;
}
.cell {
    width: 4em;
    height: 4em;
    margin: 0.3em;
}
.bg-light-off {
    background-color: black;
}

.bg-light-on {
    background-color: cyan;
}

